<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="wrapper-full tab-container effectTab-header" id="style_1" style="padding-top:170px;">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">Hover Effect 1</h1>
          </div>
          <div class="column-12 column-xs-12 column-sm-12 tab">
            <div class="custom-row">
              <div class="column-4 column-md-6 column-xs-12 hide-sm hide-md box-tab">
                <div class="effect effect-one">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>Designed to help you complete your layout designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 column-md-6 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width8 effect-one">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="pt-1">grid column 8</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 column-md-6 hide-xs hide-sm box-tab">
                <div class="effect grid-width6 effect-one">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="pt-2">column 6 grid</h2>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 column-md-6 column-sm-6 hide-xs box-tab">
                <div class="effect grid-width3 effect-one">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="pt-3">column 3</h2>
                    <p>Biggest vocational training projects which impacts </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 column-sm-6 hide-xs hide-md box-tab">
                <div class="effect grid-width3 effect-one">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="pt-3">column 3</h2>
                    <p>There are many variations here to find</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_2">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper" align="center">
            <h1 class="ti title">hover effects 2</h1>
          </div>
          <div class="column-12 column-sm-12 tab">
            <div class="custom-row">
              <div class="column-4 column-md-6 column-xs-12 column-sm-6 box-tab">
                <div class="effect effect-two">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Column 4</h2>
                    <p class="icon-links"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                    <p class="description">Replace the dummy text with your image description</p>
                  </div>
                </div>
              </div>
              <div class="column-4 column-md-6 column-xs-12 column-sm-6 box-tab hide-xs hide visible-sm visible-md">
                <div class="effect effect-two">
                  <img src="images/image-1.jpg" class="img-fluid">
                  <div class="tab-text">
                    <h2>Column 4</h2>
                    <p class="icon-links"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                    <p class="description">Replace the dummy text with your image description</p>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-md column-xs-12 hide-xs hide-sm box-tab">
                <div class="effect grid-width8 effect-two">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Column Eight</h2>
                    <p class="icon-links"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                    <p class="description col6">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model</p>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-md hide-xs hide-sm box-tab">
                <div class="effect grid-width6 effect-two">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Column six</h2>
                    <p class="icon-links"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                    <p class="description col6">Replace the dummy text with your image description</p>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-md hide-xs hide-sm box-tab">
                <div class="effect grid-width3 effect-two">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text col3">
                    <h2 class="col3-head">Column three</h2>
                    <p class="icon-links"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                    <p class="description">Your image description</p>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-md hide-sm box-tab">
                <div class="effect grid-width3 effect-two">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text col3">
                    <h2 class="col3-head">Column three</h2>
                    <p class="icon-links"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                    <p class="description">Add your image description</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_3">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">hover effects 3</h1>
          </div>
          <div class="column-12 tab column-xs-12">
            <div class="custom-row">
              <div class="column-4 column-md-6 column-xs-12 column-sm-6 box-tab">
                <div class="effect effect-three col3-block-height">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Artistic</h2>
                    <p> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                  </div>
                </div>
              </div>
              <div class="column-4 column-md-6 column-sm-6 hide-xs box-tab">
                <div class="effect effect-three col3-block-height">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Realistic</h2>
                    <p> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                  </div>
                </div>
              </div>
              <div class="column-4 hide-xs hide-sm hide-md box-tab">
                <div class="effect effect-three col3-block-height">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Difficult</h2>
                    <p> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_4">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper" align="center">
            <h1 class="ti title">hover effects 4</h1>
          </div>
          <div class="column-12 tab column-xs-12">
            <div class="custom-row">
              <div class="column-4 column-md-6 column-xs-12 column-sm-6 box-tab">
                <div class="effect effect-four">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>Designed to help you complete your layout designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-md-6 column-xs-12 column-sm-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-four">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>Designed to help you complete your layout designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-sm hide-md hide-xs box-tab">
                <div class="effect grid-width8 effect-four">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>grid column 8</h2>
                    <p>Biggest vocational training projects which impacts </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs hide-md hide-sm box-tab">
                <div class="effect grid-width6 effect-four">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 6 grid</h2>
                    <p>Biggest vocational training projects which impacts </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-md hide-sm box-tab">
                <div class="effect grid-width3 effect-four">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest vocational training projects which impacts </p>
                    <div class="icons-block icon-c3"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-md hide-sm box-tab">
                <div class="effect grid-width3 effect-four">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest vocational training projects which impacts </p>
                    <div class="icons-block icon-c3"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_5">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper" align="center">
            <h1 class="ti title">hover effects 5</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
                <div class="effect effect-five col3-block-height">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>customised</h2>
                    <p> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                  </div>
                </div>
              </div>
              <div class="column-4 column-sm-6 column-md-6 hide-xs box-tab">
                <div class="effect effect-five col3-block-height">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>amazing</h2>
                    <p> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                  </div>
                </div>
              </div>
              <div class="column-4 hide-xs box-tab hide-sm hide-md">
                <div class="effect effect-five col3-block-height">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>portfolio</h2>
                    <p> <a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_6">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">hover effects 6</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
                <div class="effect effect-six">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-six">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width8 effect-six">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>grid column 8</h2>
                    <p>Era of modern design </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width6 effect-six">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 6 grid</h2>
                    <p>Better font for web designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width3 effect-six">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest Impact </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width3 effect-six">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>training projects</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_7">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper" align="center">
            <h1 class="ti title">hover effects 7</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
                <div class="effect effect-seven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block c4"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-seven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block c4"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-xs box-tab hide-sm hide-md">
                <div class="effect grid-width8 effect-seven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="col8-head">grid column 8</h2>
                    <p>Era of modern design </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs box-tab hide-sm hide-md">
                <div class="effect grid-width6 effect-seven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 6 grid</h2>
                    <p>Better font for web designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs box-tab hide-sm hide-md">
                <div class="effect grid-width3 effect-seven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest Impact </p>
                    <div class="icons-block c3"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs box-tab hide-sm hide-md">
                <div class="effect grid-width3 effect-seven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>training projects</p>
                    <div class="icons-block c3"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_8">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">hover effects 8</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-sm-6 column-xs-12 column-md-6 box-tab">
                <div class="effect effect-eight">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-sm-6 column-xs-12 column-md-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-eight">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-xs box-tab hide-sm hide-md">
                <div class="effect grid-width8 effect-eight">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="col8-head">grid column 8</h2>
                    <p>Era of modern design and advanced transitions </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width6 effect-eight">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 6 grid</h2>
                    <p>Better font for web designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width3 effect-eight">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest Impact </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                <div class="effect grid-width3 effect-eight">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>online program</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_9">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper" align="center">
            <h1 class="ti title">hover effects 9</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-sm-6 column-md-6 column-xs-12 box-tab">
                <div class="effect effect-nine">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-sm-6 column-xs-12 column-md-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-nine">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 hide-xs hide-sm box-tab hide-md">
                <div class="effect effect-nine">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 hide-xs hide-sm box-tab hide-md">
                <div class="effect effect-nine">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs hide-sm box-tab hide-md">
                <div class="effect effect-nine grid-width6">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                <div class="effect effect-nine grid-width3">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm box-tab hide-md">
                <div class="effect effect-nine grid-width3">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_10">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">hover effects 10</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
                <div class="effect effect-ten">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-ten">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width8 effect-ten">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="col8-head">grid column 8</h2>
                    <p>Era of modern design and advanced transitions </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width6 effect-ten">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 6 grid</h2>
                    <p>Better font for web designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width3 effect-ten">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest Impact </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width3 effect-ten">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>online program</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_11">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">hover effects 11</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-sm-6 column-md-6 hide-xs box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 hide-xs hide-sm hide-md box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 3</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 3</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 3</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect effect-eleven">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 3</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper-full tab-container effectTab-header" id="style_12">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">hover effects 12</h1>
          </div>
          <div class="column-12 column-xs-12 tab">
            <div class="custom-row">
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab">
                <div class="effect effect-twelve">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-4 column-xs-12 column-sm-6 column-md-6 box-tab hide visible-sm visible-md">
                <div class="effect effect-twelve">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>Three column 4</h2>
                    <p>poppins Design for smart design.</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-8 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width8 effect-twelve">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2 class="col8-head">grid column 8</h2>
                    <p>Era of modern design and advanced transitions </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-6 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width6 effect-twelve">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 6 grid</h2>
                    <p>Better font for web designing</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width3 effect-twelve">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>Biggest Impact </p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="column-3 hide-xs hide-sm hide-md box-tab">
                <div class="effect grid-width3 effect-twelve">
                  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="img-fluid">
                  <div class="tab-text">
                    <h2>column 3</h2>
                    <p>online program</p>
                    <div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>