.sidebar{
    flex: 1;
    /* height: 100vh ; */
    height: calc(100vh - 50px);
    background-color: #D9D7F1;
    position: sticky;
    box-shadow: 5px 0px 5px #463f3f3f;
}
.sidebarWrapper{
    padding: 20px;
    color: #35858B;

}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: #fff;
}

.sidebarList{
    list-style: none;
    padding: 10px 4px;
}
.sidebarListItem{
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active, 
.sidebarListItem:hover{
    padding: auto;
    background-color: #8946A6;
    color: #fff;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}