.about-us-qutaion{
    background-image: linear-gradient(#f6018800,#99046fcc),url('./../../../../public/about/about-background.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    /* opacity: 0.3; */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.item--title{
    color: #fff;
}
.about-us-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #1414ef;
    text-transform: uppercase;
}
.about-us-title:after, .about-us-title:before{
    position: relative;
    content: '';
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: #f25f61;
    vertical-align: middle;
}
.about-us-qutaion div{
    padding-top: 10%;
}



.about-us-img{
    /* width: 350px; */
    height: 400px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: morph 8s ease-in-out infinite;
    box-shadow: 5px 10px 18px #888888;
}

@keyframes morph {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% {
      border-radius: 43% 57% 35% 65% / 36% 35% 65% 64%;
    }
    50% {
      border-radius: 16% 84% 35% 65% / 17% 35% 65% 83%;
    }
    75% {
      border-radius: 79% 21% 55% 45% / 76% 64% 36% 24%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }
.about-us-text{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 550;

}
.card-aboutus{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.86);
border-radius: 16px;
box-shadow: 0 8px 20px #f60186;
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
}

.card-mission{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.86);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
}

.mission-text{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 550;
}
.mission-icon-text{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.value-bg{
    background-image: url('./../../../../public/about/about-us-vission.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.card-vision{
background: rgba(255, 255, 255, 0.86);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.4px);
-webkit-backdrop-filter: blur(9.4px);
}
.vision-text{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.card-exp{
    background: rgba(255, 255, 255, 0.86);
    border-radius: 16px;
    box-shadow: 0 8px 20px #f6018888;
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}
.my-anchor-css-class, .exp-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
