


.project-image {
  border-radius: 2%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f60186;
}

.item:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.go-corner {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #31087B;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card2 {
  /* display: block; */
  height: 430px;
  /* position: relative; */
  background: rgba(255, 255, 255, 0.86);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  /* padding-top: 32px; */
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  transition: 0.5s;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #31087B;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

.card2:hover:before {
  transform: scale(30);
}

.card2:hover p {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.card2:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}